<style>
    .list-group{
        border-radius:3px;
    }
    .list-group-item{
        background-color: rgb(0,123,255);
    }
    .list-group-title{
        background-color:rgb(102,102,102);
        color:white;
    }
    .list-group-title:hover{
       text-decoration:none;
       color:white;
       background-color:rgb(102,102,102);
    }
</style>

<div class="list-group">
    <a href="#" class="list-group-item list-group-title">
        Categories
    </a>
    <a href="#" class="list-group-item list-group-item-action">Adventure</a>
    <a href="#" class="list-group-item list-group-item-action">Comedy</a>
    <a href="#" class="list-group-item list-group-item-action">Drama</a>
    <a href="#" class="list-group-item list-group-item-action">Fantasy</a>
    <a href="#" class="list-group-item list-group-item-action">Horror</a>
    <a href="#" class="list-group-item list-group-item-action">Musicals</a>
    <a href="#" class="list-group-item list-group-item-action">Mystery</a>
    <a href="#" class="list-group-item list-group-item-action">Romance</a>
    <a href="#" class="list-group-item list-group-item-action">Science Fiction</a>
    <a href="#" class="list-group-item list-group-item-action">Sports</a>
    <a href="#" class="list-group-item list-group-item-action">Thriller</a>
    <a href="#" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Western</a>
</div>