

<link href="~/css/navbarcss.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="#navbarToggler">
            <a href="/home/index"><img class="material" src="~/icons/videocam.png" /></a>
            <a href="/home/index" class="navbar-brand" style="margin-left:20px;">MovieApp</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-item-list1 active">
                    <a href="/movies/list" class="nav-link">Content</a>
                    <a href="/movies/list" class="nav-link">About</a>
                    <a href="/movies/list" class="nav-link">Recommended</a>
                </li>
            </ul>
            <ul>
                <li class="nav-item nav-item-list2 active">
                    <a href="/movies/list" class="nav-link-user">Sign Up</a>
                    <a href="/forms/login" class="nav-link-user">Log In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>